<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pratik.kirana" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kirana"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GettingStarted"
            android:label="@string/title_activity_getting_started"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Choose"
            android:label="@string/title_activity_choose"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CustomerLoginForm"
            android:label="@string/title_activity_customer_login_form"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RetailerLoginForm"
            android:label="@string/title_activity_retailer_login_form"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CustomerSignUpForm"
            android:label="@string/title_activity_customer_sign_up_form"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RetailerSignUpForm"
            android:label="@string/title_activity_retailer_sign_up_form"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GridMainActivity"
            android:label="@string/title_activity_grid_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GridSubLayout"
            android:label="@string/title_activity_grid_sub_layout"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DiscriptionOfItemActivity"
            android:label="@string/title_activity_discription_of_item"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListOfItemCustomerActivity"
            android:label="@string/title_activity_list_of_item_customer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ItemDetailsActivity"
            android:label="@string/title_activity_item_details"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ItemDetailsCustomerActivity"
            android:label="@string/title_activity_item_details_customer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ItemDetailsRetailerActivity"
            android:label="@string/title_activity_item_details_retailer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ProfileInformation"
            android:label="@string/title_activity_profile_information"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
